<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="Project:Configure" type="Sitecore.Marketplace.PublishingProjects.Commands.AddItemtoProject, Sitecore.Marketplace.PublishingProjects" />
      <command name="Project:ViewItems" type="Sitecore.Marketplace.PublishingProjects.Commands.ViewProjectItems, Sitecore.Marketplace.PublishingProjects" />
      <command name="Project:AddNewProject" type="Sitecore.Marketplace.PublishingProjects.Commands.AddNewProject, Sitecore.Marketplace.PublishingProjects" />
    </commands>

    <pipelines>
      <getContentEditorWarnings>
        <processor type="Sitecore.Marketplace.PublishingProjects.Pipelines.DisplayProjectContentEditorWarning, Sitecore.Marketplace.PublishingProjects" patch:before="processor[@type='Sitecore.Pipelines.GetContentEditorWarnings.RunRules, Sitecore.Kernel']" />
      </getContentEditorWarnings>
      <getPageEditorNotifications>
        <processor type="Sitecore.Marketplace.PublishingProjects.Pipelines.DisplayProjectExperienceEditorWarning, Sitecore.Marketplace.PublishingProjects" patch:after="processor[@type='Sitecore.Pipelines.GetPageEditorNotifications.GetLockingNotification, Sitecore.ExperienceEditor']" />
      </getPageEditorNotifications>
    </pipelines>
    
    <sitecore.experienceeditor.speak.requests>
      <request name="ExperienceEditor.Projects.IsInProject" type="Sitecore.Marketplace.PublishingProjects.Speak.Requests.IsInProject, Sitecore.Marketplace.PublishingProjects"/>
      <request name="ExperienceEditor.Projects.IsItemProjectable" type="Sitecore.Marketplace.PublishingProjects.Speak.Requests.IsItemProjectable, Sitecore.Marketplace.PublishingProjects"/>
      <request name="ExperienceEditor.Projects.GenerateFieldEditorUrlForProject" type="Sitecore.Marketplace.PublishingProjects.Speak.Requests.GenerateFieldEditorUrlForProject, Sitecore.Marketplace.PublishingProjects"/>
    </sitecore.experienceeditor.speak.requests>

    <events>
      <!-- ... -->
      <event name="item:versionAdded" >
        <handler type="Sitecore.Marketplace.PublishingProjects.Handlers.ItemVerisonAdded.ClearProjectField, Sitecore.Marketplace.PublishingProjects" method="OnVersionAdded" />
      </event>
      <event name="item:saved" >
        <handler type="Sitecore.Marketplace.PublishingProjects.Handlers.ItemSaved.UpdatePublishingRestrictions, Sitecore.Marketplace.PublishingProjects" method="OnItemSaved" />
      </event>
    </events>
  </sitecore>
</configuration>